<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>360 News.ge</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg custom-navbar" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/static/logo-search-grid-1x-removebg-preview.png" alt="360News" width="175" height="155">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('about') }}">About </a>
                    <a class="nav-link" href="{{ url_for('latest') }}">Latest</a>
                    <a class="nav-link" href="investigations.html">Investigations</a>
                    <a class="nav-link" href="signup.html">Sign Up</a>
                    <a class="nav-link" href="publish-news.html">Publish</a>
                </div>
            </div>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-r/tCzDrh6lcV4QAY2uLiE5P/+6px6Ki3wNxCe10+A/EhlNflhqCPwCJtefMDlfl0"
        crossorigin="anonymous"></script>\
    

</body> 
</html>
