<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>360 News.ge</title>
</head>


<body>
    <nav class="navbar navbar-expand-lg custom-navbar"style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="/static/logo-search-grid-1x-removebg-preview.png" alt="360News" width="175" height="155">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    <a class="nav-link" href="About.html">About </a>
                    <a class="nav-link" href="latest.html">Latest</a>
                    <a class="nav-link" href="investigations.html">Investigations</a>
                    <a class="nav-link" href="signup.html">Sign Up</a>
                    <a class="nav-link" href="publish-news.html">Publish</a>
                </div>
            </div>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <h2 class="mt-4">Us against <em>Fake News</em> </h2>
        <p class="text-justify"><strong>360 News</strong> has always been against the spread of <em>Fake News</em>. In Order to prevent It, we have a specially built-in system for our writers that won't allow them to upload any <em>Fake News</em>.</p>
        <p class="text-justify">We have been fighting the spread of <em>Fake News</em> for over 15 years, and unsurprisingly our work increases each year, since there are more and more attempts at misinformation.</p>

        <p class="text-justify">There are three main ways we detect <em>Fake News</em>:</p>
        <ul>
            <li>Fact Checking</li>
            <li>Reviewing Supporting Evidence</li>
            <li>Examining the Writing Style</li>
        </ul>

        <p class="text-justify">Go check out our <a href="Recap.html">2023 Recap</a></p>

        <h2 class="mt-4">What we believe</h2>

        <p class="text-justify">At <strong>360 News</strong>, we are driven by key principles that shape our perspective:</p>
        <ul>
            <li>We prioritize reporting on initiatives and challenges in the pursuit of global peace, offering insights into international relations.</li>
            <li>Our coverage centers on the values of democracy, emphasizing transparency, accountability, and the protection of individual rights.</li>
            <li>We confront the menace of <em>Fake News</em> through rigorous fact-checking and reliance on credible sources, aiming to empower our audience with media literacy.</li>
        </ul>

        <p class="text-justify">At <strong>360 News</strong>, we're dedicated to providing clear and accurate news, helping everyone stay well-informed globally.</p>
    </div>
    






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-e3bWCdQoKssFyI1f8iZ6JZskiz4l43pP6j5dV4J7T+4lD3Kc3/zdXaO5lNv1mpZ" crossorigin="anonymous"></script>
</body>

</html>
