<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/story.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>360 News.ge</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg custom-navbar" style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="/static/logo-search-grid-1x-removebg-preview.png" alt="360News" width="175" height="155">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    <a class="nav-link" href="About.html">About </a>
                    <a class="nav-link" href="latest.html">Latest</a>
                    <a class="nav-link" href="investigations.html">Investigations</a>
                    <a class="nav-link" href="signup.html">Sign Up</a>
                    <a class="nav-link" href="publish-news.html">Publish</a>
                </div>
            </div>

            <form class="d-flex" action="search-results.html" method="GET">
                <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Life Found on Mars! Scientists Make History with Rover's Stunning Discovery </h1>
                <h4>By <a href="Jack-scofield.html" >Jack Scofield</a><h4>
                <img src="/static/mars.jpeg" alt="Main News Image" class="img-fluid">
                <p class="mt-3">In a groundbreaking revelation, scientists have made history with a stunning discovery of life on Mars, thanks to the Mars rover's latest findings.
                     The rover's advanced instruments have detected compelling evidence suggesting the presence of life, marking a monumental leap in our understanding of the red planet. This unprecedented breakthrough opens new avenues for scientific exploration and sparks excitement about the potential for extraterrestrial life beyond Earth. 
                    Researchers are now delving into the details of this historic discovery, unraveling the mysteries that Mars may hold and reshaping our perspective on the possibilities of life beyond our home planet.</p>
            </div>

            <div class="col-md-4">
                <h3>Trending News</h3>
                <ul class="list-group">
                    <li class="list-group-item"> <a href="sucre-global.html">Unprecedented Threats Of Global-Warming</a></li>
                    <li class="list-group-item"><a href="disease2.html"> Breakthrough Drug Promises Game-changing Treatment</li>
                    <li class="list-group-item"> <a href= "surgery.html"> Revolutionizing Surgery</a></li>
                    <li class="list-group-item"> <a  href="Ai4.html"> AI Breakthrough: Artificial Intelligence Is at Its Peak of Development</a></li>
                    <li class="list-group-item"> <a href="Bellick-smart.html"> 5G Evolution! Smart Cities Embracing Innovations </a></li>
                    <li class="list-group-item"> <a href="Moon.html"> Lunar Oasis! Living On Moon Is Getting Realistic </a></li>
                    <li class="list-group-item"> <a href="webb.html">  James WebbSpace Telescope Unveils Secrets
                    </a></li>
                    <li class="list-group-item"> <a href="sucre-noise.html"> Scientist Discover The Impact Of Human Noise on Wildlife</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        
        <div class="mt-3">
          <h4>Is this post related to you?</h4>
          <form>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="related" id="yes" value="yes">
              <label class="form-check-label" for="yes">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="related" id="no" value="no">
              <label class="form-check-label" for="no">
                No
              </label>
            </div>
            <div class="form-group">
              <label for="comments">Comments</label>
              <textarea class="form-control" id="comments" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-r/tCzDrh6lcV4QAY2uLiE5P/+6px6Ki3wNxCe10+A/EhlNflhqCPwCJtefMDlfl0"
        crossorigin="anonymous"></script>
</body>

</html>
