<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>360 News.ge</title>
</head>


<body>
    <nav class="navbar navbar-expand-lg custom-navbar"style="background-color: #e3f2fd;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/static/logo-search-grid-1x-removebg-preview.png" alt="360News" width="175" height="155">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    <a class="nav-link" href="About.html">About </a>
                    <a class="nav-link" href="latest.html">Latest</a>
                    <a class="nav-link" href="investigations.html">Investigations</a>
                    <a class="nav-link" href="signup.html">Sign Up</a>
                    <a class="nav-link" href="publish-news.html">Publish</a>
                
                </div>
            </div>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container mt-4">
        <header class="main-header text-center">
            <h1> 360 News In 2023</h1>
        </header>

        <p class="text-justify">In 2023 <strong> 360 News </strong> worked hard to bring you reliable news about what's happening around the world. Our team made sure to catch and share over 3000 <em>Fake News</em> stories, 
            keeping you safe from wrong information. We're here to make sure you get the right news and stay informed.</p>
        
            <p class="text-justify">Regarding of our findings in the year of 2023, these are the most popular types of <em>Fake News</em> :</p>
        <ol>
            <li>Misinformation</li>
            <li>Clickbait</li>
            <li>Biased Reporting</li>
            <li>False Statistics</li>
            <li>Mistaken Identity</li>

        </ol>
        <footer class="footer">
            <a href="https://www.tbceducation.ge">
                <img src="/static/tbc-logo-removebg-preview.png" alt="tbc" width="60" height="60" />
            </a>
            <p id="copyright" class="copyright text">
                Company which stood with us the whole year &copy; TBC.
            </p>
        </footer>
    
            
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-e3bWCdQoKssFyI1f8iZ6JZskiz4l43pP6j5dV4J7T+4lD3Kc3/zdXaO5lNv1mpZ" crossorigin="anonymous"></script>
</body>

</html>